﻿@using Test.UI.Common
@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/Resource/Img/favicon.ico">
    <title>登录</title>
    <link href="~/Resource/Scripts/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Resource/Css/signin.css" rel="stylesheet" />
    <script src="~/Resource/Scripts/ie-emulation-modes-warning.js"></script>
    <style type="text/css">
        .form-signin-heading {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <form class="form-signin">
            <h2 class="form-signin-heading">Welcome Back</h2>
            <label for="inputEmail" class="sr-only">用户名</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="用户名" required autofocus>
            <label for="inputPassword" class="sr-only">密码</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="密码" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me">
                    记住我
                </label>
            </div>
            <button id="btnLogin" class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        </form>
    </div>

    <!--JavaScript-->
    <script src="~/Resource/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Resource/Scripts/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <script src="~/Resource/Scripts/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript">
        $(function () {
            //登录按钮
            $('#btnLogin').click(function () {
                ////非空验证
                var userName = $('#inputEmail').val();
                //if ($.trim(userName).length == 0) {
                //    alert('用户名不能为空');
                //    return;
                //}
                var pwd = $('#inputPassword').val();
                //if ($.trim(pwd).length == 0) {
                //    alert('密码不能为空');
                //    return;
                //}

                $.getJSON('/Login/Login?random=' + Math.random(), { Username: userName, Password: pwd }, function (_jsonData) {
                    if (_jsonData.Message == '@StandardMessage.Success') {
                        window.location.href = '@Url.Action("Index", "MenuTree")';
                    } else {
                        alert('用户名或密码错误');
                    }
                });
            });
        });
    </script>
</body>
</html>
