﻿@model List<Test.Model.User>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script type="text/javascript">
        $(function () {
            //添加
            $('#aAdd').click(function () {
                $('#dvAdd').show();
            });

            //关闭添加框
            $('#addClose').click(function () {
                $('#dvAdd').hide();
            });

            //添加保存
            $('#btnAdd').click(function () {
                var userId = $('#addUserId').val();
                var userName = $('#addUserName').val();
                var userAge = $('#addUserAge').val();

                $.getJSON('@Url.Action("Add", "User")', { UserID: userId, UserName: userName, UserAge: userAge }, function (_jsonData) {
                    if (_jsonData == 'ok') {
                        alert('添加成功');
                        location.href = '@Url.Action("Index", "User")';
                    } else {
                        alert('添加失败');
                    }
                });
            });

            //关闭修改框
            $('#editClose').click(function () {
                $('#dvEdit').hide();
            });

            //修改保存
            $('#btnSave').click(function () {
                var userId = $('#editUserId').val();
                var userName = $('#editUserName').val();
                var userAge = $('#editUserAge').val();

                $.getJSON('@Url.Action("Edit", "User")', { UserID: userId, UserName: userName, UserAge: userAge }, function (_jsonData) {
                    if (_jsonData == 'ok') {
                        alert('修改成功');
                        location.href = '@Url.Action("Index", "User")';
                    } else {
                        alert('修改失败');
                    }
                });
            });
        });

        //修改
        function Edit(aLink) {
            //获取用户id
            var id = $(aLink).siblings(':hidden').val();

            //发送请求，并返回数据
            $.getJSON('@Url.Action("GetById", "User")', { id: id }, function (_jsonData) {
                $('#editUserId').val(_jsonData.UserID);
                $('#editUserName').val(_jsonData.UserName);
                $('#editUserAge').val(_jsonData.UserAge);
            });

            //显示修改框
            $('#dvEdit').show();
        }

        //删除
        function Delete(aLink) {
            //用户id
            var id = $(aLink).attr('userid');

            //发送请求
            $.getJSON('@Url.Action("Delete", "User")', { id: id }, function (_jsonData) {
                if (_jsonData == 'ok') {
                    alert('删除成功');
                    location.href = '@Url.Action("Index", "User")';
                } else {
                    alert('删除失败');
                }
            });
        }
    </script>
    <style type="text/css">
        a {
            text-decoration-line: none;
            font-size: 13px;
            color: grey;
        }
        #dvEdit {
            display: none;
        }
        #dvAdd {
            display: none;
        }
    </style>
</head>
<body>
    <a id="aAdd" href="javascript:void(0)">添加</a>
    @*用户列表*@
    <div id="dvList">
        <table id="tbList" border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>操作</th>
            </tr>
            @foreach (var item in ViewBag.Model)
            {
                <tr>
                    <td>@item.UserID</td>
                    <td>@item.UserName</td>
                    <td>@item.UserAge</td>
                    <td>
                        <input type="hidden" value="@item.UserID" />
                        <a href="javascript:void(0)" onclick="Edit(this);">修改</a>
                        <a href="javascript:void(0)" onclick="Delete(this)" userid="@item.UserID">删除</a>
                    </td>
                </tr>
            }
        </table>
    </div>
    @*添加框*@
    <div id="dvAdd">
        <table border="1">
            <tr>
                <td>ID</td>
                <td>
                    <input type="text" id="addUserId" value="" />
                </td>
            </tr>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" id="addUserName" value="" />
                </td>
            </tr>
            <tr>
                <td>Age</td>
                <td>
                    <input type="text" id="addUserAge" value="" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input id="btnAdd" type="button" value="添加" />
                    <input id="addClose" type="button" value="关闭" />
                </td>
            </tr>
        </table>
    </div>
    @*修改框*@
    <div id="dvEdit">
        <table border="1">
            <tr>
                <td>ID</td>
                <td>
                    <input type="text" id="editUserId" value="" />
                </td>
            </tr>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" id="editUserName" value="" />
                </td>
            </tr>
            <tr>
                <td>Age</td>
                <td>
                    <input type="text" id="editUserAge" value="" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input id="btnSave" type="button" value="保存" />
                    <input id="editClose" type="button" value="关闭" />
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
