﻿@using Test.UI.Common
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Resource/Scripts/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Resource/Css/navbar-fixed-top.css" rel="stylesheet" />
    <link href="~/Resource/Scripts/dhtmlxTree/skins/dhtmlxtree_dhx_skyblue.css" rel="stylesheet" />
    <script src="~/Resource/Scripts/dhtmlxTree/dhtmlxcommon.js"></script>
    <script src="~/Resource/Scripts/dhtmlxTree/dhtmlxtree.js"></script>

    <style type="text/css">
        .button {
            float: left;
            margin-right: 2px;
            margin-bottom: 2px;
        }

        #treeBox {
            float: left;
        }

        #dvMes {
            position: absolute;
            left: 200px;
        }

        #mes {
            width: 500px;
            height: 200px;
            clear: left;
            display: block;
        }
    </style>
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Gyt's Sys</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">欢迎 @Session["UserName"]</a></li>
                    <li><a href="javascript:void(0);" onclick="exit();">退出</a></li>
                    @*<li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>*@
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div id="treeBox"></div>
    <div id="dvMes">
        <input type="button" id="btnGetAllCk" class="button" value="GetAllChecked" />
        <input type="button" id="btnGetAllCkBranches" class="button" value="GetAllCheckedBranches" />
        <input type="button" id="btnGetAllItemWithChild" class="button" value="GetAllItemWithChild" />
        <input type="button" id="btnGetAllPartiallyChecked" class="button" value="GetAllPartiallyChecked" />
        <textarea id="mes" readonly="readonly"></textarea>
    </div>

    <!--JavaScript-->
    <script src="~/Resource/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Resource/Scripts/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function exit() {
            window.location.href = '@Url.Action("Exit", "Login")';
        }

        var globalCityTree = '';
        //加载大区和城市
        function loadCity() {
            $.getJSON('/MenuTree/GetTreeByIsDelete?random=' + Math.random(), function (_jsonData) {
                if (_jsonData.Message == '@StandardMessage.Success') {
                    loadTree(_jsonData.XmlOfAreaTree);
                } else {
                    alert('加载失败');
                }
            });
            }

            //加载树
            function loadTree(xmlOfTree) {
                globalCityTree = new dhtmlXTreeObject('treeBox', '100%', '100%', 0);
                globalCityTree.setImagePath('/Resource/Scripts/dhtmlxTree/imgs/dhxtree_skyblue/');
                globalCityTree.enableCheckBoxes(1);
                globalCityTree.enableThreeStateCheckboxes(true);
                globalCityTree.loadXMLString(xmlOfTree);
            }

            $(function () {
                //加载大区和城市
                loadCity();

                //获取被选中的节点
                $('#btnGetAllCk').click(function () {
                    var ids = globalCityTree.getAllChecked();
                    $('#mes').val(ids);
                });

                //获取被选中的节点和半选节点
                $('#btnGetAllCkBranches').click(function () {
                    $('#mes').val(globalCityTree.getAllCheckedBranches());
                });

                //获取有子节点的节点
                $('#btnGetAllItemWithChild').click(function () {
                    $('#mes').val(globalCityTree.getAllItemsWithKids());
                });

                //获取半选节点
                $('#btnGetAllPartiallyChecked').click(function () {
                    $('#mes').val(globalCityTree.getAllPartiallyChecked());
                });
            });
    </script>
</body>
</html>
