﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>uploadify</title>
    <link href="~/Resource/Scripts/uploadify/uploadify.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Resource/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Resource/Scripts/uploadify/jquery.uploadify.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#uploadify").uploadify({
                'method': 'post',
                'fileSizeLimit': '15MB',
                'height': 30,
                'swf': '/Resource/Scripts/uploadify/uploadify.swf',
                'uploader': 'http://img1u.soufun.com/upload/filesrv2',
                'width': 120,
                'buttonText': '上传',
                'formData': {
                    'i': 'a09429473625439993b262aa3735bc12',
                    'city': 'jjr.house.test',
                    'channel': 'xinfang.ziliao',
                    't': 'B4A483181340256A2670D9F22D6CB94BBA68C10B74F8EF239956CF18B399FD1B925A8EF65F2A45FF39A49968D9EBDC80',
                    'uid': '11793770',
                    'isflash': 'y'
                },
                'auto': false,
                'onUploadError' : function(file, errorCode, errorMsg, errorString) {
                    alert('The file ' + file.name + ' could not be uploaded: ' + errorString);
                },
                'onUploadSuccess': function (file, data, response) {
                    $('#' + file.id).find('.data').html(' 上传完毕');
                    alert(JSON.parse(data).Message);
                },
                'onFallback': function () { //检测FLASH失败调用
                    alert("您未安装FLASH控件，无法上传！请安装FLASH控件后再试。");
                }
            });
        });
    </script>
</head>
<body>
    <div>
        @*用来作为文件队列区域*@
        <div id="fileQueue">
        </div>
        <input type="file" name="uploadify" id="uploadify" />
        <p>
            <a href="javascript:$('#uploadify').uploadify('upload')">上传</a>|
            <a href="javascript:$('#uploadify').uploadify('cancel')">取消上传</a>
        </p>
    </div>
</body>
</html>









