﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <script src="~/Resource/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Resource/Scripts/echarts.min.js"></script>
    <style>
        div {
            width: 600px;
            height: 400px;
            border: 1px solid green;
            margin: 30px 0 0 30px;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            var objX = $('#px');
            var objY = $('#py');
            var objCY = $('#cy');
            $(window).mousemove(function (e) {
                objX.html(e.pageX);
                objY.html(e.pageY);
                objCY.html(e.clientY);
            });
        });
    </script>
</head>
<body>
    <div id="main"></div>
    <div>
        <ul>
            <li>pageX: <label id="px"></label></li>
            <li>pageY: <label id="py"></label></li>
            <li>clientY: <label id="cy"></label></li>
        </ul>
    </div>
</body>
</html>
